* {
  font-family: Raleway, sans-serif;
}

body {
  padding-left: 50px;
}

a {
  text-decoration: none;
  color: #347CD1;
}

h1 {
  font-size: 64px;
  font-weight: 200;
}

.more {
  display: block;
  padding-top: 20px;
}
