/********** Fonts **********/

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('fonts/ralewayregular.woff2') format('woff2'), url('fonts/ralewayregular.woff') format('woff'), url('fonts/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'), url('fonts/ralewaybold.woff2') format('woff2'), url('fonts/ralewaybold.woff') format('woff'), url('fonts/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/********** General **********/

* {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.light-txt {
  color: white;
}

.dark-txt {
  color: black;
}

.light-txt a {
  color: white;
}

.dark-txt a {
  color: black;
}

a {
  text-decoration: none;
  color: #00C2FF;
}

h1 {
  margin: 0;
}
/********** Main header **********/

.main-header {
  background-color: #333;
  color: white;
  padding: 15px 30px;
}

h1 {
  font-size: 18px;
  font-weight: 700;
}

/********** Page header **********/

.page-header {
  background: linear-gradient(90deg, #347CD1, #6597F8);
  padding: 30px;
}

h2 {
  font-size: 20px;
}

/********** Project **********/

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 50%;
  padding: 40px 50px;
}

.project > header {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

.project p {
  line-height: 140%;
  width: 80%;
}

.project > footer {
  padding: 30px 0 0;
  display: flex;
  align-items: center;
}

.project > footer > a {
  padding-right: 50px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  padding-right: 10px;
  object-fit: cover;
}

/********** Footer **********/

.main-footer {
  background-color: #333;//linear-gradient(90deg, #347CD1, #6597F8);
  padding: 30px;
  color: white;
}

/*************** Individual projects ***************/

/********** ChessEngine **********/

#chess-engine {
  background-color: #E75845;
}

/********** Problems **********/

#problems {
  background-color: #3F4347;
  padding-top: 35px;
}

#problems header .logo {
  height: 25px;
}

#problems h3 {
  font-weight: 700;
  padding-top: 5px;
}

/********** TheSunX **********/

#thesunx {
  background-color: #3F4347;
  background: url(../img/thesunx_bg.jpg) center center no-repeat / cover;
}

.orange {
  color: #F68726;
}

/********** CodeBreaker **********/

#codebreaker {
  background-color: #F2F2F2;
}

.blue {
  color: #2F80ED;
}

/********** Sketch **********/

#sketch {
  background-color: #F2F2F2;
}

/********** Sketch **********/

#pomodoro {
  //background-color: #3F4347;
}

#pomodoro h3 {
  font-weight: 700;
}

/********** Media Queries **********/

@media (max-width: 780px) {
  .project {
    width: 100%;
  }

  .project p {
    width: 100%;
  }
}
